* {
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 550px;
  margin: 0 auto;
  top: 150px;
  /* border: 1px dotted black; */
}

.main img {
  display: block;
  margin: 0 auto 25px;
  /* border: 1px dotted black; */
}

.main input[type="text"] {
  display: block;
  width: 90%;
  padding: 12px;
  font-size: 16px;
  margin: 0 auto 10px;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.main input[type="text"]:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.main input[type="text"]:focus {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

div.buttons {
  margin: 0 auto;
  text-align: center;
  /* border: 1px dotted black; */
}

div.buttons input[type="submit"] {
  /* display: inline; */
  height: 36px;
  font-weight: bold;
  font-size: 13px;
  padding: 0 16px;
  margin: 11px 4px;
  color: #757575;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}
