* {
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 550px;
  margin: 0 auto;
  top: 150px;
  /* border: 1px dotted black; */
}

.main img {
  display: block;
  margin: 0 auto 25px;
  /* border: 1px dotted black; */
}

.main input {
  display: block;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
}

div.buttons {
  margin: 0 auto;
  text-align: center;
  /* border: 1px dotted black; */
}
