* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.main-container {
  min-width: 980px;
}

.main {
  position: relative;
  width: 540px;
  margin: 150px auto 0px;
  /* top: 150px; */
  /* border: 1px dotted black; */
}

.main img {
  display: block;
  width: 272px;
  height: 92px;
  margin: 0 auto 28px;
  /* border: 1px dotted black; */
}

.main input[type="text"] {
  display: block;
  width: 90%;
  padding: 12px 15px;
  font-size: 16px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: 200ms;
}

.main input[type="text"]:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.main input[type="text"]:focus {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

div.buttons {
  margin: 20px auto;
  text-align: center;
  font-size: 0px;
  /* border: 1px dotted black; */
}

div.buttons input[type="submit"] {
  display: inline;
  height: 36px;
  font-weight: bold;
  font-size: 13px;
  padding: 0 16px;
  margin: 11px 4px;
  color: #757575;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

div.buttons input[type="submit"]:hover {
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
